torch>=2.0.0
lightning>=2.0.0
sentencepiece
# TODO: replace this once a version after 4.27 is released
git+https://github.com/huggingface/transformers  # convert_hf_checkpoint.py
tqdm  # convert_checkpoint.py
numpy  # train.py dataset memmap
jsonargparse[signatures]  # generate.py, convert_checkpoint.py CLI
bitsandbytes  # quantization.py
datasets  # evaluate.py
